doctype html
html(lang="en")
  head
    title Blog.ar
    link(href="main.css", media="all", rel="stylesheet", type="text/css")
  body
    h1
      a(href= blog.URL)= blog.name
    p.descrption= blog.description
