doctype html
html(lang="en")
  head
    title Blog.ar
    link(href="main.css", media="all", rel="stylesheet", type="text/css")
  body
    h1 Wellcome to Blog.ar
    a(href= url) Connect with Jsconfar!
